@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/*====== variables==========*/
/*======Mixin============*/
html,
body {
  margin: unset;
  padding: unset;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e1e1;
}

.fa-bars {
  color: white;
}

.scrolling {
  background-color: white;
}
.scrolling #navbar-brand a {
  color: #3cb3ab;
}
.scrolling .fa-bars {
  color: #3cb3ab;
}
.scrolling #navbar-nav li:hover {
  background-color: #3cb3ab;
}
.scrolling #navbar-nav li:hover a {
  color: white;
}
.scrolling #navbar-nav li a {
  color: #3cb3ab;
}

.btn {
  width: 25%;
  border: none;
  border-radius: 50px;
  background-color: #3cb3ab;
  color: white;
  font-weight: bolder;
}
@media screen and (max-width: 799px) {
  .btn {
    width: 50%;
  }
}

.btn-reverse {
  width: 25%;
  border: none;
  border-radius: 50px;
  background-color: white;
  color: green;
  font-weight: bolder;
}
@media screen and (max-width: 799px) {
  .btn-reverse {
    width: 50%;
  }
}

.green-words {
  color: #3cb3ab;
  font-size: 14px;
  font-family: "open Sans", sans-serif;
  font-weight: bolder;
}

.gray-words {
  color: #aaaaaa;
  font-size: 14px;
  font-family: "open Sans", sans-serif;
  font-weight: bold;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
}
@media screen and (max-width: 799px) {
  #navbar {
    position: relative fixed;
    top: 0;
  }
}
#navbar-brand a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  font-size: 40px;
  font-family: "open Sans", sans-serif;
  font-weight: bolder;
  color: white;
}
@media screen and (max-width: 799px) {
  #navbar-nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    row-gap: 5px;
  }
}
@media screen and (min-width: 800px) {
  #navbar-nav {
    margin-top: 10px;
  }
}
#navbar-nav .nav-link a {
  text-decoration: none;
  font-size: 14px;
  font-family: "open Sans", sans-serif;
  font-weight: bold;
  color: white;
}
#navbar-nav .nav-link:hover {
  background-color: white;
}
#navbar-nav .nav-link:hover a {
  color: #3cb3ab;
}

#page-cover {
  overflow: hidden;
  position: relative;
}

#introduction {
  position: absolute;
  margin: unset;
  width: 80%;
  top: 22em;
  left: 7rem;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2em;
}
@media screen and (max-width: 799px) {
  #introduction {
    width: 90%;
    position: absolute;
    top: 22em;
    left: 2rem;
  }
}
#introduction-logo {
  position: inherit;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (max-width: 799px) {
  #introduction-logo {
    left: 50%;
    transform: tranlate(-50%);
  }
}
#introduction-title {
  font-size: 30px;
  font-family: "open Sans", sans-serif;
  font-weight: bolder;
  padding-left: 1rem;
  padding-right: 1rem;
}
#introduction-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "open Sans", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #aaaaaa;
  align-items: center;
}

#main-content {
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  row-gap: 30px;
  margin: auto;
  background-color: #e7e1e1;
}
@media screen and (max-width: 799px) {
  #main-content {
    width: 90%;
    margin: auto;
  }
}

.block-disable {
  opacity: 0.5;
}

.block {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 2rem;
}
.block-about-item {
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  margin: auto;
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.block-title, .block-item-header, .block-item-footer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.block-title h3, .block-item-header h3, .block-item-footer h3 {
  font-size: 1rem;
  font-family: "open Sans", sans-serif;
  font-weight: bolder;
}
.block-title .number-bolder-lg, .block-item-header .number-bolder-lg, .block-item-footer .number-bolder-lg {
  font-size: 30px;
  font-weight: bolder;
}
.block-title .btn-disable, .block-item-header .btn-disable, .block-item-footer .btn-disable {
  width: 25%;
  border: none;
  border-radius: 50px;
  background-color: #3cb3ab;
  color: white;
  font-weight: bolder;
  background-color: #aaaaaa;
}
@media screen and (max-width: 799px) {
  .block-title .btn-disable, .block-item-header .btn-disable, .block-item-footer .btn-disable {
    width: 50%;
  }
}
.block-main-content, .block-item-body {
  font-family: "open Sans", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #aaaaaa;
  padding-left: 5%;
  padding-right: 5%;
}
.block-form {
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  padding: 10px;
}
.block-btns {
  width: 55%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
}
@media screen and (max-width: 799px) {
  .block-btns {
    width: 100%;
  }
}
.block-btns .btn {
  width: 40%;
}

.form-header {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  column-gap: 5px;
  justify-content: space-between;
  font-size: 0.8rem;
}
.form-header label {
  font-weight: bolder;
}
.form-body {
  font-family: "open Sans", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #aaaaaa;
}
.form-footer {
  display: none;
  flex-direction: colummn;
  align-items: center;
  row-gap: 15px;
  padding-bottom: 20px;
}
@media screen and (min-width: 800px) {
  .form-footer {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
  }
}
.form-footer p {
  font-size: 14px;
}
.form-footer-pledge-input {
  border-radius: 50px;
  width: 50%;
}
.form-footer-input {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: relative;
}
@media screen and (min-width: 800px) {
  .form-footer-input {
    width: 50%;
  }
}
.form-footer-input .btn {
  width: 50%;
}
@media screen and (min-width: 800px) {
  .form-footer-input .btn {
    width: 25%;
  }
}
.form-footer-input label {
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 0.4rem;
  color: #aaaaaa;
  font-weight: bolder;
}

#report {
  margin-top: 13em;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 799px) {
  #report {
    margin-top: 16em;
  }
}
#report .report-element {
  width: 80%;
}
@media screen and (max-width: 799px) {
  #report .report-element {
    width: 100%;
  }
}
#report-table {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  column-gap: 30%;
}
@media screen and (max-width: 799px) {
  #report-table {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
@media screen and (max-width: 799px) {
  #report-table {
    column-gap: 20%;
  }
}
#report #process-bar {
  height: 5px;
  background-color: #e7e1e1;
  border-radius: 25px;
}
#report #process-bar-color {
  width: 80%;
  background-color: #3cb3ab;
  height: 5px;
  border-radius: 25px;
}

#models-reward {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@media screen and (max-width: 799px) {
  #models-reward {
    width: 90%;
  }
}
#models-reward-title {
  font-weight: bolder;
  font-size: 20px;
}
#models-reward-title a {
  text-decoration: none;
}
#models-reward-content {
  font-weight: lighter;
  font-size: 14px;
}
#models-reward .block-title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#models-reward #no-reward .form-header {
  justify-content: flex-start;
}

#success-model {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 70%;
}
#success-model-header {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
#success-model-header h2 {
  text-align: center;
}
#success-model-body {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
#success-model-body p {
  width: 100%;
  text-align: center;
}
#success-model-footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
#success-model-footer button {
  width: 40%;
}

/*# sourceMappingURL=style.css.map */
